<%- include('../../partials/header') %>
<div class="container">
    <h1>Contact Us</h1>
    <p>Have questions or feedback? Reach out!</p>
    <p>Email: admin@skillswap.edu</p>
</div>
<%- include('../../partials/footer') %>
