<%- include('../../partials/header') %>
<div class="container">
    <h1>Help</h1>
    <h2>How to use SkillSwap</h2>
    <ol>
        <li>Create an account</li>
        <li>Add skills you can teach</li>
        <li>Browse tutors or wait for requests</li>
        <li>Schedule sessions</li>
        <li>Leave reviews after sessions</li>
    </ol>
    <p>Questions? <a href="/contact">Contact us</a></p>
</div>
<%- include('../../partials/footer') %>
