<%- include('../../partials/header') %>
<div class="container">
    <h1>Privacy Policy</h1>
    <p>Your privacy matters. We only collect information necessary to provide our service.</p>
    <p>We do not sell your data to third parties.</p>
</div>
<%- include('../../partials/footer') %>
